$fa-font-path: "./font-awesome-scss/";


html, body, div, h1, h4, img, p{
  margin: 0px;
  padding: 0px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.container {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

.left {
  background: #185a9d;
  color:#efefef;
  background-image: linear-gradient(to left top, #43cea2 , #185a9d);
  opacity: 0.85;
  height: 100vh;
  width: 50vw;
  float: left;
  position: fixed;
  overflow: hidden;
  text-align: center;

.left-inner{
  height: 20vh;
  width: 30vw;
  margin: 40vh auto;
}

}

.right {
  height: fit-content;
  width: 50vw;
  float: right;
  overflow: scroll;

  .right-inner {
    & > div {
      h4 {
        width: 20%;        
        margin: 0px;
        font-size: 14px;
        display: inline-block;
        vertical-align: top;
        font-weight: bold;
        text-transform: uppercase;
        background-color: #2A54F5;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-image: linear-gradient(45deg,#2A54F5 0%,#33E5BB 100%);

      }
      
      .resume-content {
        width: 80%;
        display: inline-block;
        vertical-align: top;
        margin: 0px;
         & > div {
          margin: 0px 0px 10px 0px;
         }
        
      }
      display: inherit;
      margin-bottom: 50px;
    }
    margin: 5vw;
    display: block;
  }
}

li {
  height: fit-content;
}

.subtitle {
  font-weight: 700;
}

ul {
  padding-left: 20px;
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.5;
}

.left-inner {
  h1 {
    margin: 3vh 0px;
  }
  
  & > h1, div{
    font-weight: 500;
  }
}

.social-link {
  & a > i {
    margin: 10px;
    font-size: 24px;
    color: #fff;
  }
  margin-top: 30px;
}
