$fa-font-path: "./font-awesome-scss/";

html, body, div, h1, h4, img, p{
  margin: 0px;
  padding: 0px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.3px;
}

a {
  text-decoration: none;
}

.container {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

.left {
  background: #185a9d;
  color:#efefef;
  background-image: linear-gradient(to left top, #43cea2 , #185a9d);
  opacity: 0.85;
  height: 100vh;
  width: 50vw;
  float: left;
  position: fixed;
  overflow: hidden;
  text-align: center;
  display: block;
}

.left-inner{
  height: 20vh;
  width: 30vw;
  margin: 40vh auto 0px auto;
  max-width: 75vw;
  display: block;
}

.right {
  height: fit-content;
  width: 50vw;
  float: right;
  overflow: scroll;
  display: block;
}

.right-inner {
  & > div {
    h4 {
      width: 20%;        
      margin: 0px;
      font-size: 14px;
      display: inline-block;
      vertical-align: top;
      font-weight: bold;
      text-transform: uppercase;
      background-color: #2A54F5;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-image: linear-gradient(45deg,#2A54F5 0%,#33E5BB 100%);

    }
    display: inherit;
    margin-bottom: 50px;
  }
  margin: 4vw;
  display: block;
}

.resume-content {
  width: 80%;
  display: inline-block;
  vertical-align: top;
  margin: 0px;

  & > div {
  margin: 0px 0px 10px 0px;
  }
}

li {
  height: fit-content;
}

.subtitle {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  & > a {
    width: 14em;
  }
}

ul {
  padding-left: 20px;
  margin-top: 10px;
  font-size: 15px;
}

.left-inner {
  h1 {
    margin: 3vh 0px;
  }
  
  & > h1, div{
    font-weight: 500;
  }
}

.social-link {
  & a > i {
    margin: 10px;
    font-size: 24px;
    color: #fff;
  }
  margin-top: 30px;
}

.resume-btn{
  div {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    background-color:#2A54F5;
    background-image: -webkit-linear-gradient(45deg,#2A54F5 0%,#33E5BB 100%);
    background-image: linear-gradient(45deg,#2A54F5 0%,#33E5BB 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0px auto;
  padding: 15px 0px;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.duration {
  font-weight: 500;
  color: #aaa;
}

.Education .subtitle {
  margin-bottom: 5px;
}

@media only screen and (max-width: 1000px) {
  .left{
    float: none;
    width: 100%;
    position: relative;
  }

  .left-inner{
    width: fit-content;
  }
  
  .right{
    float: none;
    width: 100%;
    position: relative;
  }

  .right-inner{
    margin: 50px;
  }

}

@media only screen and (max-width: 600px) {
  .left-inner {
    margin-top: 30vh;
  }

  .right .right-inner div h4 {
    display: block;
    width: fit-content;
    margin-bottom: 20px;
    font-size: 1em;
  }

  .resume-content {
    width: 100%;
  }
}